@model IdentityServer.Quickstart.User.CreatePasswordModel


@{
    ViewData["Title"] = "Create New Password";
}

<h2>Create New Password</h2>

<dl class="w-75">
    <dt>@Html.DisplayNameFor(m => m.Name)</dt>
    <dd>@Html.DisplayFor(m => m.Name)</dd>

    <dt>@Html.DisplayNameFor(m => m.CallbackUrl)</dt>
    <dd class="w-75 h-auto">
            @Html.DisplayFor(m => m.CallbackUrl)
    </dd>
</dl>

<div class="form-group">
    <a class="btn btn-info ml-1" asp-action="Index" asp-controller="User">Back to List</a>
</div>
