@model IdentityServer.Quickstart.User.UserInputModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<dl>
    <dt>@Html.DisplayNameFor(m => m.UserName)</dt>
    <dd>@Html.DisplayFor(m => m.UserName)</dd>

    <dt>@Html.DisplayNameFor(m => m.RoleName)</dt>
    <dd>@Html.DisplayFor(m => m.RoleName)</dd>
</dl>

<form asp-action="Delete" method="post">
    <div class="row">
        <input class="btn btn-danger" type="submit" value="Delete" />
        <a class="btn btn-info ml-1" asp-action="Index" asp-controller="User">Back to List</a>
    </div>
</form>