@model IdentityServer.Quickstart.User.ResetPasswordViewModel
@{
    ViewData["Title"] = "Create password";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form method="post">
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
    </div>
    <div class="row">
        <div class="flex-column mx-4">

            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</form>

